@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem-vindo ao Prontuário Médico</h1>
    <p>Aprendendo sobre:<a href="https://learn.microsoft.com/aspnet/core"> Web apps com ASP.NET Core</a>.</p>
    <img src="https://images.pexels.com/photos/7195369/pexels-photo-7195369.jpeg" style="width: 1000px; height: 550px;" />
</div>
     
