@{
    ViewData["Title"] = "Sobre";
}

<header>
    <div class="text-center">
        <h1 class="display-4 text-primary text-uppercase">Sobre</h1>
        <img src="https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg" style="width: 800px; height: 450px;" />
        <h3>Sistema criado durante as aulas da matéria Desenvolvimento Web II.</h3>
        <h5>Ministradas pelo prof. Dr.MAURICIO ARCHANJO NUNES COELHO</h5>
        <h5>Aluno Marcelo Roberto Gomes Barbosa.</h5>
        <h5> Intituro Federal Sudeste de Minas Gerais - <a href="https://www.ifsudestemg.edu.br/">IFSudesteMG</a></h5>
    </div>  
</header>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 -  Foto de Markus Spiske: <a href="https://www.pexels.com/pt-br/foto/codigos-na-lente-tilt-shift-2004161/">Pexels</a>
    </div>
</footer>
